[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
scipy = "*"
pillow = "*"
sortedcontainers = "*"
tqdm = "*"
psychopy = "*"
pyglet = "*"
wxpython = "*"


[dev-packages]

sphinx = "*"
pytest = "*"
pytest-cov = "*"
mock = "*"
python-coveralls = "*"
tabulate = "*"
igor = "*"
"pycrafter4500" = "*"
pypandoc = "*"


[requires]

python_version = "3.6"
